.section-7 {
  background-color: #2f313c;
  padding: 70px 100px;
  font-family: Inter, sans-serif;
}
.section-7 h4 {
  color: white;
}
.section-7 p,
.section-7 a,
.section-7 h5,
span {
  color: #818389;
}
.section-7 .row-1 div {
  display: table-cell;
  padding: 10px 0px;
  padding-right: 100px;
}
.section-7 .row-1 div h4 {
  padding-bottom: 15px;
  font-size: 17px;
  font-weight: bold;
}
.section-7 .row-1 .company ul li {
  padding: 8px 0px;
}
.section-7 .row-1 .contact ul li {
  display: inline-block;
  padding: 50px 20px 0px 0px;
}
.section-7 .row-2 {
  padding-top: 40px;
  display: flex;
}
.section-7 .row-2 h5 {
  padding-left: 30%;
}
