.modal {
  background-color: white;
  height: 100vh;
  position: fixed;
  overflow-y: hidden;
  overflow-x: hidden;
  transform: translateX(-100%);
  z-index: 1000;
}
.modal-active {
  background-color: white;
  opacity: 1;
  height: 100%;
  z-index: 1000;
  display: block;
  visibility: visible;
  transform: translateX(0);
  position: fixed;
}
